/* Bot */
[data-cid^="17880504-"] .badge-box .bdg {
    background-image: url("https://rawgit.com/DiscordDungeons/pdjrsc/master/bot.png") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-17880504 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https://rawgit.com/DiscordDungeons/pdjrsc/master/bot.png") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}

.id-17880504 .from .un {
    color: #ff4d59 !important;
}

.id-17880504 .msg .icon {
    background: url('https://rawgit.com/DiscordDungeons/pdjrsc/master/botrank.png') !important;
}
/* Bot */