/* Woot Add Meh */
#woot .bottom, #woot.selected {
background: #25b961 !important;
}
.votes-rs .title.woot {
background: #25b961 !important;
}
#grab .bottom, #grab.selected {
background: #aa74ff;
}
.votes-rs .title.grab {
    background: #aa74ff !important;
}
#meh .bottom, #meh.selected {
    background: #c42e3b;
}
.votes-rs .title.meh {
    background: #c42e3b !important;
}
.votes-rs .title {
    border-radius: 0px 0px 0px 10px;
}
#now-playing-bar, #history-button, #rs-skip-button, #playlist-menu, #user-menu, #room-settings-menu, .app-right .friends, .badge-box {
    background: none !important;
}
#woot.selected .icon, #grab.selected .icon, #meh.selected .icon {
    animation: pulse 1s ease infinite;
}
#vote .crowd-response .top .icon-woot, #user-lists .list.room .user .icon-woot {
    background: url('https://rawgit.com/DiscordDungeons/pdjrsc/master/woot.png') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

/*
.votes-rs[style~=block] {
    animation: popUp 0.5s 1;
}

.votes-rs .voteslist {
    animation: popUp2 0.5s 1;
}
*/

#vote .crowd-response.selected {
    animation: bounce 0.25s 1;
}

#vote .crowd-response .value {
    animation: pulse 0.25s 1;
}

@keyframes bounce {
    0% {bottom: 0px;}
    50% {bottom: 30px;}
    100% {bottom: 0px;}
}

@keyframes popUp {
    0% {height: 0px; top: 200px;}
    100% {height: 200px; top: 0px;}
}


@keyframes popUp2 {
    0% {height: 0px;}
    100% {height: 175px;}
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}
/* Woot Add Meh */

/* Volume Slider */
#volume .slider .line {
    height: 13px;
    top: 6px;
    border-radius: 6px 6px 6px 6px;
    background: rgba(128, 134, 145, 0.2);
}
/* Volume Slider */

/* Chat */
#history-button:hover, #skip-button:hover {
    animation: swing 0.5s ease infinite;
}

.msg {
    animation: swayinL 0.5s ease 1;
}

#chat .cm .badge-box {
    animation: swayinR 0.5s ease 1;
}

#chat .delete-button:hover, .rcs-delete:hover {
	animation: zoomRotate 0.5s ease 1 forwards;
}

@keyframes zoomRotate {
    100% {transform: scale(1.2), rotate(20deg); }
}

@keyframes swing {
    0% {transform: rotate(20deg);}
    50% {transform: rotate(-20deg);}
    100% {transform: rotate(20deg);}
}

@keyframes swayinL {
    0% {left: 20px; opacity: 0;}
    100% {left: 0px; opacity: 1;}
}

@keyframes swayinR {
    0% {right: 10px; opacity: 0;}
    100% {right: 0px; opacity: 1;}
}
/* Chat */

/* Misc */
#history-button:hover, #rs-skip-button:hover {
    animation: swing 0.5s ease infinite;
}

@keyframes swing {
    0% {transform: rotate(20deg);}
    50% {transform: rotate(-20deg);}
    100% {transform: rotate(20deg);}
}
/* Misc */

/* Transparent User Rollover by Wlff */

#footer-user .buttons .store.button,#footer-user .buttons .button,
#user-rollover .action{
        -webkit-transition:     all 0.3s ease;
        -moz-transition:        all 0.3s ease;
        -o-transition:          all 0.3s ease;
        transition:             all 0.3s ease;
}
#user-rollover .action.skip:hover{
    -webkit-box-shadow:     inset 300px 0 0 0 rgba(0, 106, 218, 0.3) !important;
    -moz-box-shadow:        inset 300px 0 0 0 rgba(0, 106, 218, 0.3) !important;
    -o-box-shadow:          inset 300px 0 0 0 rgba(0, 106, 218, 0.3) !important;
    box-shadow:             inset 300px 0 0 0 rgba(0, 106, 218, 0.3) !important;
}
#user-rollover .actions .action:hover {
    background: rgba(0, 0, 0, 0.4);
}
#user-rollover .actions .action.mod-staff:hover {
    background: rgba(24, 0, 27, 0.4);
}
#user-rollover .actions .action.ignore:hover,
#user-rollover .actions .action.mod-ban:hover,
#user-rollover .actions .action.mod-mute:hover {
    background: rgba(28, 0, 0, 0.4);
}
#user-rollover .actions .action.giftsub:hover{
	background: rgba(68, 45, 0, 0.4);
}
#user-rollover .actions .action.giftsub:hover span {
   text-shadow: 0 0 10px #E59900;
}
#footer-user .buttons .button:hover {
    background: rgba(0, 0, 0, 0.31);
}
#footer-user .buttons .button.inventory:hover {
    -webkit-box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 1px 0 0 0 rgba(0, 0, 0, 0.25);
}
#footer-user .buttons .button.store:hover {
    background: rgba(0, 181, 230, 0.25);
}
#user-rollover {
   background: rgba(0, 0, 0, 0.56) !important;
}
#user-rollover .info{
    background: rgba(0, 0, 0, 0.18);
}
#user-rollover.expand.chat .arrow-down {
   border-left: 8px solid rgba(0, 0, 0, 0.4) !important;
}
#user-rollover .actions .action{
box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.22);
}
#user-rollover.id-4412452 .thumb {
    border-color: rgb(36, 175, 130) !important;
}
#user-rollover .meta.subscriber .status span {
   text-shadow: 0 0 10px #E59900;
}

/* Transparent User Rollover by Wlff */