/* Staff */
.icon-chat-ambassador + span {
    color: #FF8C00 !important;
}
.icon-chat-host + span {
    color: #e32524 !important;
}
.icon-chat-cohost + span {
    color: #e32524 !important;
}
.icon-chat-manager + span {
    color: #ff7e00 !important;
}
.icon-chat-bouncer + span {
    color: #ff7e00 !important;
}
.icon-chat-dj + span {
    color: #ff7e00 !important;
}

.icon-chat-host {
	background: url("https;//rawgit.com/DiscordDungeons/pdjrcs/master/icon.png") !important;
}
.icon-chat-cohost {
	background: url("https;//rawgit.com/DiscordDungeons/pdjrcs/master/icon.png") !important;
}
/* Staff */

/* Snazzah */
[data-cid^="5133476-"] .badge-box .bdg {
    background-image: url("https;//rawgit.com/DiscordDungeons/pdjrcs/master/snazzah.png") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-5133476 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https;//rawgit.com/DiscordDungeons/pdjrcs/master/snazzah.png") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
/* Snazzah */

/* Concept */
[data-cid^="6482301-"] .badge-box .bdg {
    background-image: url("https;//rawgit.com/DiscordDungeons/pdjrcs/master/concept.png") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
#user-rollover.id-6482301 .badge-box .bdg {
    border-radius: 5px !important;
    background-image: url("https;//rawgit.com/DiscordDungeons/pdjrcs/master/concept.png") !important;
    background-repeat: round !important;
    background-size: 30px !important;
}
/* Concept */